.nav-item {
    height: 100%;
}

.nav-link {
    font-weight: bold;
    margin-left: 40px;
    line-height: 40px;
    height: 100%;
    color: black;
    border-bottom: 1px solid transparent;
}

.nav-link:hover {
    border-bottom: 1px solid blue;
}

.navbar-brand {
    font-weight: bold;
    line-height: 40px !important;
    font-size: 40px !important;
    color: darkblue;
}

.navbar-brand:hover {
    color: blue;
}

.info-card {
    margin-top: 50px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(168,168,168,1);
    box-shadow: 0px 0px 10px 5px rgba(168,168,168,1);
}

.grouped {
    margin-top: 30px;
    margin-bottom: 30px;
}

.password-change {
    margin: 10px;
}

button {
    margin: 15px;
}

form {
    margin: 15px;
}