.nav-item {
    height: 100%;
}

.nav-link {
    font-weight: bold;
    margin-left: 40px;
    line-height: 40px;
    height: 100%;
    color: black;
    border-bottom: 1px solid transparent;
}

.nav-link:hover {
    border-bottom: 1px solid blue;
}

.navbar-brand {
    font-weight: bold;
    line-height: 40px !important;
    font-size: 40px !important;
    color: darkblue;
}

.navbar-brand:hover {
    color: blue;
}

.info-card {
    margin-top: 50px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(168,168,168,1);
    box-shadow: 0px 0px 10px 5px rgba(168,168,168,1);
}

.margin-card {
    margin:10px;
}

.blue-infobox {
    background: #2F80ED;
}

.table-container {
    margin: auto;
    display: inline-block;   
}

.grouped {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.password-change {
    margin: 10px;
}

.info-table {
    text-align: left;
}

button {
    margin: 15px;
}

form {
    margin: 15px;
}

.device-table {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.battery-bubble {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.lightgreen {
    background-color: rgb(187, 253, 4);
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.blue {
    color: #2F80ED;
}

.white {
    color: white;
}

.inline {
    display: inline-block;
}

.edit-button {
    background: none;
    border: none;
}

.small-text {
    font-size: 11px;
    color: #2F80ED;
    margin-left: 10px;
    margin-right: 10px;
}

h6 {
    color: gray;
}